body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}

    .bgimg {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
        background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(10, 10, 10, 0.5)), url('./res/img/solar.jpg');
        min-height: 100%;
    }

    @media only screen and (max-device-width: 1024px) {
        .bgimg{
            background-attachment: scroll;
        }
    }

    dp {
      background-image: linear-gradient(rgba(75, 108, 183, 0.5), rgba(24, 40, 72, 0.5)), url('./res/img/dp.jpg');
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    /* Styling for Header */
    .dropbtn {
        cursor: pointer;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
      }
      .dropdown-content a {
        color: white;
        background-color: black;
        padding: 12px 16px;
        display: block;
      }
      #projects-dropdown-content {
        left: 100px;
      }
      .dropdown:hover .dropdown-content {
         display: block;
      }
      .sub-link {
        padding-left: 50px!important;
      }
    
      @media (min-width: 555px) {
        .header-name {
          font-size: 6em;
        }
      }
    
      @media (max-width: 555px) {
        .header-name {
          font-size: 3em;
        }
      }
      /* End of styling for header */ 