div#following {
  float: right;
  overflow-y: scroll;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 25vw;
}
div#lastfm {
  display: inline;
  background-color: blue;
  margin: 0px;
}
div#mainUser {
  float: left;
  width: 70vw;
  margin-top: 5vh;
}

h2 {
  font-family:'Roboto', sans-serif;
  font-size: 35px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a:link {
  text-decoration: none
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a {
  outline: none;
}
