body {
  /*background-color: #FCF5DD;
  color: #FF3838;
  text-align: center;*/
}

h1 {
  margin-top: 30vh;
  font-size: 60px;
  font-family: Roboto Slab;
}

a:hover {
  text-decoration: underline;
}
a {
  color: #FF3838;
  outline: none;
  text-decoration: none;
}

input#search {
  font-size: 30px;
  width: 35vw;
  min-width: 450px;
  border-style: none;
  border-radius: 3px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15vh;
  background-color: white;
}

ul {
  list-style-type: none;
  text-align: left;
  list-style-position: inside;
  margin-left: -40px;

}

div#sites {
  position: absolute;
  width: 250px;
  padding: 5px;
  font-family: Roboto Slab;
  margin-left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: .2s ease-out;
  background-color: white;
  border-radius: 3px;
}

div#options {
  font-family: Robota Slab;
  width: 25px;
  height: 35px;
  margin-left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translate(-50%, 0);
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  font-size: 20px;
  background-color: white;
}

.website {
  float: right;
}
