.music {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.music > * {
    transition: transform 1s ease;
}

.music .viewport {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.music .viewport > *{
    width: 100%;
}

.music .scroll-down {
    padding-top: 100px;
    text-align: center;
}

.music .recent-track {
    margin: auto;
    max-width: 400px;
}

.music .display-photo {
    margin: 1em 0;
    display: inline-block;
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
    user-select: none;
    padding: 0;
    vertical-align: baseline;
}

.music .user-info {
    margin-left: 20px;
}

.music .user-info > div:not(.display-photo) {
	width: 60%;
	display: inline-block;
	padding-left: 30px;
	padding-top: 1em;
    vertical-align: baseline;
    vertical-align: top;
}

.music .loading-shimmer .string {
    margin: 1em 0;
    height: 1em;
    border-radius: 1em;
}


.music .loading-shimmer .animate {
    animation : shimmer 2s infinite linear;
    background-size: 500px 100%;
}

.music .recent-track p.string {
    margin: 0.4em 0;
    width: 100%;
}

.music .recent-track .user-info .text-block {
    margin: 0.4em 0 0 0;
}

.music .recent-track .text-block {
    margin: 0.8em 0 0 0;
}

@keyframes shimmer {
    0% {
      background-position-x: -500px;
    }
    100% {
      background-position-x: 500px;
    }
  }
  