.projects {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.projects > * {
    transition: transform 1s ease;
}

.projects .body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
}

.projects .project {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.projects .scroll-down {
    padding-top: 100px;
    text-align: center;
}