:root {
  --main-color: #FF3838;
  --text-in-main-color: #FCF5DD;
  --background-color: #FCF5DD ;
  --accent-color: #FF9292;
  --global-border-radius: 4px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-in-main-color);
  background-color: var(--background-color);
}

a {
  color: var(--text-in-main-color);
  outline: none;
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

div.mostRecentTrack {
  height: 130px;
  //width: 25vw;
  vertical-align: top;
  border-radius: var(--global-border-radius);
  background-color: black;
}

#creeperBar {
  //background-color: #FF9292;
  //width: 20vw;
  height: 99vh;
  //float: right;
  //display: inline;
  overflow-y: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.creeperBarProfileImage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: left;
  vertical-align: center;
  //top-padding: 35px
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  //left: 10px;
}

div.mostRecentTrackText {
  //position: relative;
  //left: 10px;
  padding: 10px;
  float: left;
}

div.mostRecentTrack {
  //position: relative;
  //left: 10px;
  //padding: 10px;
  width: 100%;
  float: left;
}

.recentTrackUsername {
  font-weight: bold;
  font-size 24px;
  //max-width: 10vw;
  //width: 10vw;
  //background-color: green;
}

.recentTrackTime {
  float: right;
  font-weight: normal;
  //background-color: pink;
}

.recentTrackRow {
  //width: 10vw;
  //max-width: 10vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
