.lastfm-creep {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.lastfm-creep .list-container {
    padding-top: 60px;
}

.lastfm-creep .recent-track {
    text-overflow: ellipsis;
    border-radius: 4px;
    padding: 10px 0;
}

.lastfm-creep .recent-track-tile-container {
    position: relative;
    margin: 8px auto;
    max-width: 400px;
    width: 100%;
    transition: transform 1s ease-in-out, top 1s ease-in-out;
}

@media (max-width: 601px) {
    .lastfm-creep .list-container {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}